<template>
    <lightning-accordion class="slds-box slds-box_xx-small" active-section-name={activeSections}>
        <template if:true={projectTypesWithProjectAssignmentsRef}>
            <template for:each={projectTypesWithProjectAssignmentsRef} for:item="projectTypeWithProjectAssignments">
                <lightning-accordion-section key={projectTypeWithProjectAssignments.key} label={projectTypeWithProjectAssignments.key} name={projectTypeWithProjectAssignments.key}>
                    <div slot="actions">
                        <c-timesheet-project-total 
                            project-record-type={projectTypeWithProjectAssignments.key}
                            selected-date={selectedDate}>
                        </c-timesheet-project-total>
                    </div>

                    <c-timesheet-entry-project-selector 
                        selected-date={selectedDate} 
                        num-of-days-to-show={numOfDaysToShow}
                        timesheet-entry-project-selector-selected-date={projectRecordTypesSelectedDate}
                        timesheet-entry-project-selector-number-of-days-to-show={projectRecordTypesNumberOfDaysToShow}
                        project-record-type={projectTypeWithProjectAssignments.key}
                        project-assignments-ref={projectTypeWithProjectAssignments.value}
                        ontimesheetentryhoursblur={handleTimesheetEntryHoursOnBlur} 
                        ontimesheetentrynonbillablehoursblur={handleTimesheetEntryNonBillableHoursOnBlur} 
                        ontimesheetentrycommentsblur={handleTimesheetEntryCommentsOnBlur}>
                    </c-timesheet-entry-project-selector>
                </lightning-accordion-section>
            </template>
        </template>                
    </lightning-accordion>
</template>