.timesheet-today {
    border: 1px solid #04844b;
}

.timesheet-holiday {
    border: 1px solid #005fb2;
}

.timesheet-weekend {
    border: 1px solid #ffb75d;
}

.timesheet-holiday {
    border: 1px solid #cc721d;
}

.timesheet-today, .timesheet-holiday, .timesheet-weekend, .timesheet-holiday {
    border-radius: 0.25rem;
}

.success-text {
    color: #027e46 !important;
}

.warning-text {
    color: #ffb75d !important;
}