<template>
    <lightning-tabset variant="vertical">
        <template if:true={projectAssignments}>
            <template for:each={projectAssignments} for:item="projectAssignment">
                <lightning-tab label={projectAssignment.label} icon-name="utility:right" key={projectAssignment.Id}>
                    <div class="slds-box">
                        <lightning-layout>
                            <template for:each={projectAssignment.Timesheet_Entries__r} for:item="timesheetEntry">
                                <lightning-layout-item class={numOfDaysColumns} key={timesheetEntry.Id}>
                                    <div class={timesheetEntry.cssClass}>
                                        <c-timesheet-entry-project-hours  
                                            timesheet-entry={timesheetEntry} 
                                            project-assignment-id={projectAssignment.Id}
                                            hide-non-billable-entry={hideNonBillableEntry}
                                            hide-comments={hideComments}
                                            ontimesheetentryhoursblur={handleTimesheetEntryHoursOnBlur} 
                                            ontimesheetentrynonbillablehoursblur={handleTimesheetEntryNonBillableHoursOnBlur} 
                                            ontimesheetentrycommentsblur={handleTimesheetEntryCommentsOnBlur}>
                                        </c-timesheet-entry-project-hours>
                                    </div>
                                </lightning-layout-item>
                            </template>
                        </lightning-layout>
                    </div>
                </lightning-tab>
            </template>
        </template>               
    </lightning-tabset>
</template>