<template>
    <div>
        <lightning-spinner 
            if:true={loading} 
            alternative-text="Loading content..." 
            variant="base"
            size="medium">
        </lightning-spinner>
    </div>
    
    <lightning-card title="Timesheet Entries" icon-name="standard:timesheet_entry" variant="base">
        <div slot="actions">
            <lightning-button-group class="slds-m-right_medium">
                <lightning-button 
                    class="slds-theme_neutral" 
                    icon-position="left" 
                    variant="neutral" 
                    type="button" 
                    label="Save &amp; Previous Week" 
                    icon-name="utility:chevronleft"
                    onclick={saveAndPreviousWeek}>
                </lightning-button>

                <lightning-button 
                    class="slds-theme_neutral" 
                    icon-position="right" 
                    variant="neutral" 
                    type="button" 
                    label="Save &amp; Next Week" 
                    icon-name="utility:chevronright"
                    onclick={saveAndNextWeek}>
                </lightning-button>
            </lightning-button-group>

            <lightning-button-group class="slds-m-right_medium">
                <lightning-button 
                    class="slds-theme_neutral" 
                    icon-position="right" 
                    variant="neutral" 
                    type="button" 
                    label="Today" 
                    onclick={goToCurrentDate}>
                </lightning-button>
            </lightning-button-group>

            <lightning-button-group>
                <lightning-button 
                    class="slds-theme_neutral" 
                    icon-position="left" 
                    variant="neutral" 
                    type="button" 
                    label="Save" 
                    icon-name="utility:save"
                    onclick={saveTimesheetEntries}>
                </lightning-button>

                <lightning-button 
                    class="slds-theme_neutral" 
                    icon-position="left" 
                    variant="neutral" 
                    type="button" 
                    label="Save &amp; Submit" 
                    icon-name="action:submit_for_approval"
                    onclick={saveAndSubmitTimesheetEntries}>
                </lightning-button>
            </lightning-button-group>
        </div>

        <div class="slds-card__body_inner">
            <template if:true={projectTypesWithProjectAssignments}>
                <c-timesheet-entry-accordion 
                    selected-date={selectedDate} 
                    num-of-days-to-show={numOfDaysToShow}
                    project-types-with-project-assignments-ref={projectTypesWithProjectAssignments}
                    onupdatearrayrealtime={updateArrayRealtime}>
                </c-timesheet-entry-accordion>
            </template>            
        </div>
    </lightning-card>

    <c-confirmation-dialog 
        visible={showSubmissionConfirmationDialog}
        title="Warning"
        message="There are time entries that does not meet the forecasted hours. Are you sure you want to submit?"
        confirm-label="Yes"
        cancel-label="Cancel"
        onclick={handleSubmissionConfirmationResponse}>
    </c-confirmation-dialog>
</template>