<template>
    <div>
        <article class="slds-card">
            <div class="slds-card__header slds-grid slds-einstein-header">
                <header class="slds-media slds-media_center slds-has-flexi-truncate">
                    <div class="slds-media__body">
                        <h2 class="slds-card__header-title">
                            <span>Total Hours</span>
                        </h2>
                    </div>
    
                    <div slot="actions">
                        <lightning-button-group class="slds-m-right_medium">
                            <lightning-button 
                                class="slds-theme_brand" 
                                icon-position="left" 
                                variant={fiveDaysButtonVariant} 
                                type="button" 
                                label="5 Days"
                                icon-name="utility:date_input"
                                onclick={handleFiveDaysOnClick}>
                            </lightning-button>
                
                            <lightning-button 
                                class="slds-theme_neutral slds-m-right_medium" 
                                icon-position="left" 
                                variant={sevenDaysButtonVariant} 
                                type="button"
                                label="7 Days" 
                                icon-name="utility:date_input"
                                onclick={handleSevenDaysOnClick}>
                            </lightning-button>
    
                            <c-timesheet-project-total 
                                project-record-type="">
                            </c-timesheet-project-total>
                        </lightning-button-group>
                    </div>
                </header>
            </div>
    
            <div class="slds-card__body_inner slds-p-bottom_small">
                <lightning-layout>
                    <lightning-layout-item class="slds-size_1-of-8">
                        <c-timesheet-total-hours-legend></c-timesheet-total-hours-legend>
                    </lightning-layout-item>
                    
                    <lightning-layout-item class="slds-size_7-of-8">
                        <c-timesheet-total-hours-summary></c-timesheet-total-hours-summary>
                    </lightning-layout-item>
                </lightning-layout>
            </div>
        </article>
    </div>
</template>