<template>
    <div>
        <lightning-spinner 
            if:true={loading} 
            alternative-text="Loading content..." 
            variant="base"
            size="small">
        </lightning-spinner>
    </div>

    <div if:true={totals}>
        <ul class="slds-list_horizontal">
            <li class="slds-item">
                <div class="slds-media slds-media_center">
                    <div class="slds-media__figure">
                        <div>
                            <div class="slds-progress-ring slds-progress-ring_large ">
                                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" class="slds-progress-ring__progress" role="progressbar">
                                    <svg viewBox="-1 -1 2 2">
                                        <path class="slds-progress-ring__path" data-id="slds-progress-ring-path-6" d="M 1 0 A 1 1 0 1 0 1 2.4492935982947064e-16 L 0 0"></path>
                                    </svg>
                                </div>
        
                                <div class="slds-progress-ring__content">
                                    <div dropzone="progressRingSLDS body">
                                        <div class="canvas-element">
                                            <div class="slds-text-title slds-text-color_default">{totalForecastedHours}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="slds-media__body">
                        <div style="font-size: 0.8125rem;">
                            <p>Forecast</p>
                        </div>
                    </div>

                    <div class="slds-media__figure slds-media__figure_reverse"></div>
                </div>
            </li>
                  
            <li class="slds-item">
                <div class="slds-media slds-media_center">
                    <div class="slds-media__figure">
                        <div>
                            <div class={totalActualHoursRingClass}>
                                <div if:true={dValue} aria-valuemax="100" aria-valuemin="0" aria-valuenow={totalActualHoursPercentage} class="slds-progress-ring__progress" role="progressbar">
                                    <svg viewBox="-1 -1 2 2">
                                        <path class="slds-progress-ring__path" data-id="slds-progress-ring-path-6" d={dValue}></path>
                                    </svg>
                                </div>
        
                                <div class="slds-progress-ring__content">
                                    <div dropzone="progressRingSLDS body">
                                        <div class="canvas-element">
                                            <div class="slds-text-title slds-text-color_default">{totalActualHours}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="slds-media__body">
                        <div style="font-size: 0.8125rem;">
                            <p>Actual</p>
                        </div>
                    </div>

                    <div class="slds-media__figure slds-media__figure_reverse"></div>
                </div>
            </li>
        </ul>
    </div>
</template>