<template>
    <div class="slds-box slds-m-right_xx-small">
        <br />
        
        <div class="slds-media slds-media_center slds-p-around_x-small">
            <div class="slds-media__figure">
                <lightning-icon 
                    icon-name="utility:date_time" 
                    size="small">
                </lightning-icon>
            </div>

            <div class="slds-media__body">
                <div style="font-size: 0.8125rem;">
                    <p>
                        <strong>Forecasted</strong>
                    </p>
                </div>
            </div>

            <div class="slds-media__figure slds-media__figure_reverse"></div>
        </div>

        <div class="slds-media slds-p-around_x-small slds-media_center">
            <div class="slds-media__figure">
                <lightning-icon 
                    icon-name="utility:date_input" 
                    size="small">
                </lightning-icon>
            </div>

            <div class="slds-media__body">
                <div style="font-size: 0.8125rem;">
                    <p>
                        <strong>Actual Hours</strong>
                    </p>
                </div>
            </div>

            <div class="slds-media__figure slds-media__figure_reverse"></div>
        </div>

        <div class="slds-media slds-p-around_x-small slds-media_center">
            <div class="slds-media__figure">
                <lightning-icon 
                    icon-name="utility:overflow" 
                    size="small">
                </lightning-icon>
            </div>

            <div class="slds-media__body">
                <div style="font-size: 0.8125rem;">
                    <p>
                        <strong>Non-Billable Hours</strong>
                    </p>
                </div>
            </div>

            <div class="slds-media__figure slds-media__figure_reverse"></div>
        </div>
    </div>
</template>