<template>

    <template if:true={actualHours}>
        <lightning-formatted-number 
            class={hoursCss} 
            value={actualHours} 
            minimum-fraction-digits="1">
        </lightning-formatted-number>
    </template>

    <!-- <template if:false={actualHours}>
        <lightning-formatted-number 
            class={hoursCss} 
            value="0"
            minimum-fraction-digits="1">
        </lightning-formatted-number>
    </template> -->

    <template if:true={displayIcon}>
        <template if:true={isSuccess}>
            <lightning-icon 
                icon-name="utility:success"
                class="summary-icon slds-p-left_x-small" 
                variant="success"
                size="xx-small"
                title="xx-small size">
            </lightning-icon>
        </template>
        
        <template if:false={isSuccess}>
            <lightning-icon 
                icon-name="utility:warning"
                class="summary-icon slds-p-left_x-small" variant="warning"
                size="xx-small"
                title="xx-small size">
            </lightning-icon>
        </template>
    </template>
</template>