<template>
    <div class="slds-box slds-m-left_xx-small">
        <div>
            <lightning-spinner 
                if:true={loading} 
                alternative-text="Loading content..." 
                variant="base"
                size="medium">
            </lightning-spinner>
        </div>

        <template if:true={summaryList}>
            <lightning-layout>
                <template for:each={summaryList} for:item="summaryItem">
                    <lightning-layout-item class={numOfDaysColumns} key={summaryItem.formattedTimesheetDate}>
                        <div class={summaryItem.cssClass}>
                            <lightning-layout-item class="slds-list_horizontal slds-p-left_x-small slds-p-right_x-small slds-p-top_x-small">
                                <p>
                                    <b>{summaryItem.dayName}</b>
                                </p>
                            </lightning-layout-item>

                            <lightning-layout-item class="slds-list_horizontal slds-p-left_x-small slds-p-right_x-small slds-p-bottom_x-small">
                                <p>
                                    <lightning-formatted-date-time 
                                        value={summaryItem.formattedTimesheetDate}>
                                    </lightning-formatted-date-time>
                                </p>
                            </lightning-layout-item>
    
                            <ul class="slds-list_horizontal slds-p-around_x-small">
                                <li class="slds-item">
                                    <lightning-icon icon-name="utility:date_time" size="xx-small"></lightning-icon>
                                </li>
    
                                <li class="slds-item">
                                    <div class="slds-m-right_xx-small slds-m-left_xx-small slds-p-top_xxx-small slds-text-align_center slds-text-heading_small" style="color: rgb(43, 40, 38);">
                                        <template if:true={summaryItem.forecastedHoursSum}>
                                            <lightning-formatted-number 
                                                value={summaryItem.forecastedHoursSum} 
                                                minimum-fraction-digits="1">
                                            </lightning-formatted-number>
                                        </template>
                                    </div>
                                </li>
                            </ul>
    
                            <ul class="slds-list_horizontal slds-p-around_x-small">
                                <li class="slds-item">
                                    <lightning-icon icon-name="utility:date_input" size="xx-small"></lightning-icon>
                                </li>
    
                                <li class="slds-item">
                                    <div class="slds-m-right_xx-small slds-m-left_xx-small slds-p-top_xxx-small slds-text-align_center slds-text-heading_small" style="color: rgb(43, 40, 38);">
                                        <c-timesheet-summary-icon 
                                            forecasted-hours={summaryItem.forecastedHoursSum} 
                                            actual-hours={summaryItem.hoursSum}>
                                        </c-timesheet-summary-icon>
                                    </div>
                                </li>
                            </ul>
    
                            <ul class="slds-list_horizontal slds-p-around_x-small">
                                <li class="slds-item">
                                    <lightning-icon icon-name="utility:overflow" size="xx-small"></lightning-icon>
                                </li>
    
                                <li class="slds-item">
                                    <div class="slds-m-right_xx-small slds-m-left_xx-small slds-p-top_xxx-small slds-text-align_center slds-text-heading_small" style="color: rgb(43, 40, 38);">
                                        <template if:true={summaryItem.actualNonBillableSum}>
                                            <lightning-formatted-number 
                                            class="slds-text-color_error"
                                                value={summaryItem.actualNonBillableSum} 
                                                minimum-fraction-digits="1">
                                            </lightning-formatted-number>
                                        </template>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </lightning-layout-item>
                </template>
            </lightning-layout>
        </template>
    </div>
</template>