<template>
    <div class="slds-m-bottom_small slds-page-header slds-page-header_record-home">
        <lightning-layout horizontal-align="spread" vertical-align="center">
            <lightning-layout-item>
                <div class="slds-media">
                    <div class="slds-media__figure">
                        <span class="slds-avatar slds-avatar_circle">
                            <img alt={name} src={photo} title={name} />
                        </span>
                    </div>

                    <div class="slds-media__body">
                        <div style="font-size: 0.8125rem;">
                            <p>Timesheet Entries</p>
                        </div>

                        <div class="slds-page-header__title slds-text-heading_small">
                            {name}
                        </div>
                    </div>

                    <div class="slds-media__figure slds-media__figure_reverse"></div>
                </div>
            </lightning-layout-item>

            <lightning-layout-item>
                <lightning-layout horizontal-align="end" vertical-align="start">
                    <lightning-layout-item>
                        <div style="font-size: 0.8125rem;">
                            <p>Week</p>
                        </div>

                        <div class="slds-page-header__title slds-text-heading_small">
                            <lightning-formatted-date-time value={weekStart}></lightning-formatted-date-time> - <lightning-formatted-date-time value={weekEnd}></lightning-formatted-date-time>
                        </div>
                    </lightning-layout-item>

                    <lightning-layout-item></lightning-layout-item>
                    <lightning-layout-item></lightning-layout-item>
                </lightning-layout>
            </lightning-layout-item>
        </lightning-layout>

        <ul class="slds-list_horizontal slds-page-header__detail-row slds-p-around_small">
            <li class="slds-item slds-p-around_small">
                <ul>
                    <li class="slds-item">
                        <div class="slds-m-bottom_xxx-small slds-text-heading_small">Utilisation</div>
                    </li>

                    <li class="slds-item">
                        <lightning-formatted-number 
                            class={utilisationCss} 
                            value={utilisation} 
                            format-style="percent" 
                            maximum-fraction-digits="2">
                        </lightning-formatted-number>
                    </li>
                </ul>
            </li>

            <li class="slds-item slds-p-around_small">
                <ul>
                    <li class="slds-item">
                        <div class="slds-m-bottom_xxx-small slds-text-heading_small">On Time Submission</div>
                    </li>
                    
                    <li class="slds-item">
                        <lightning-formatted-number 
                            class={submissionsCss} 
                            value={submissions} 
                            format-style="percent" 
                            maximum-fraction-digits="2">
                        </lightning-formatted-number>
                    </li>
                </ul>
            </li>

            <ul>
                <li class="slds-item"></li>
                <li class="slds-item"></li>
            </ul>

            <ul>
                <li class="slds-item"></li>
                <li class="slds-item"></li>
            </ul>
        </ul>
    </div>
</template>