<template>
    <template if:true={isTimesheetEnabled}>
        <div class="slds-p-around_x-small" style="font-size: 13px;">
            <p>
                <b>{timesheetEntry.dayName}</b>
            </p>

            <p>
                <lightning-formatted-date-time 
                    value={timesheetEntry.formattedTimesheetDate}>
                </lightning-formatted-date-time>
            </p>
        </div>

        <div class="slds-form-element slds-m-top_x-small slds-p-right_x-small slds-p-left_x-small">
            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_left">
                <lightning-icon 
                    size="xx-small" 
                    class="slds-icon slds-input__icon slds-input__icon_left slds-icon-text-default" 
                    icon-name="utility:date_time">
                </lightning-icon>

                <input 
                    type="number" 
                    id="input-forecasted-hours" 
                    class="slds-input" 
                    value={timesheetEntry.Forecasted_Hours__c} 
                    readonly 
                    onblur={timesheetEntryForecastedHoursOnBlur} 
                    title="Forecasted Hours"
                />
            </div>
        </div>

        <div class="slds-form-element slds-m-top_x-small slds-p-right_x-small slds-p-left_x-small">
            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_left">
                <lightning-icon 
                    size="xx-small" 
                    class="slds-icon slds-input__icon slds-input__icon_left slds-icon-text-default" 
                    icon-name="utility:date_input">
                </lightning-icon>

                <input 
                    type="number" 
                    id="input-hours" 
                    class="slds-input slds-m-top_xxx-small" 
                    value={timesheetEntry.Hours__c} 
                    disabled={timesheetEntry.Locked__c} 
                    onblur={timesheetEntryHoursOnBlur} 
                    title="Actual Billable Hours"
                    max={timesheetEntry.Forecasted_Hours__c}
                />
            </div>
        </div>

        <div class="slds-form-element slds-m-top_x-small slds-p-right_x-small slds-p-left_x-small" if:false={hideNonBillableEntry}>
            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_left">
                <lightning-icon 
                    size="xx-small" 
                    class="slds-icon slds-input__icon slds-input__icon_left slds-icon-text-default" 
                    icon-name="utility:overflow">
                </lightning-icon>

                <input 
                    type="number" 
                    id="input-non-billable-hours" 
                    class="slds-input slds-m-top_xxx-small" 
                    value={timesheetEntry.Actual_Non_Billable_Hours__c} 
                    disabled={timesheetEntry.Locked__c} 
                    onblur={timesheetEntryNonBillableHoursOnBlur} 
                    title="Actual Non-Billable Hours"
                />
            </div>
        </div>

        <template if:false={hideComments}>
            <lightning-textarea 
                class="slds-m-top_x-small slds-p-right_x-small slds-p-left_x-small" 
                label="Comments" 
                disabled={timesheetEntry.Locked__c} 
                value={timesheetEntry.Work_Summary__c} 
                variant="label-hidden" 
                onblur={timesheetEntryCommentsOnBlur} 
                title="Comments"
                placeholder="Your tasks on this day...">
            </lightning-textarea>
        </template>
    </template>
    
    <template if:false={isTimesheetEnabled}>
        <div class="slds-p-around_x-small" style="font-size: 13px;">
            <p>
                <b>{timesheetEntry.dayName}</b>
            </p>
            
            <p>
                <lightning-formatted-date-time 
                    value={timesheetEntry.formattedTimesheetDate}>
                </lightning-formatted-date-time>
            </p>
        </div>

        <div class="slds-form-element slds-m-top_x-small slds-p-right_x-small slds-p-left_x-small">
            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_left">
                <lightning-icon 
                    size="xx-small" 
                    class="slds-icon slds-input__icon slds-input__icon_left slds-icon-text-default" 
                    icon-name="utility:date_time">
                </lightning-icon>

                <input 
                    type="number" 
                    id="input-forecasted-hours-ro" 
                    class="slds-input" 
                    disabled 
                    title="Forecasted Hours"
                />
            </div>
        </div>

        <div class="slds-form-element slds-m-top_x-small slds-p-right_x-small slds-p-left_x-small">
            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_left">
                <lightning-icon 
                    size="xx-small" 
                    class="slds-icon slds-input__icon slds-input__icon_left slds-icon-text-default" 
                    icon-name="utility:date_input">
                </lightning-icon>

                <input 
                    type="number" 
                    id="input-hours-ro" 
                    class="slds-input slds-m-top_xxx-small" 
                    disabled
                    title="Actual Billable Hours"
                />
            </div>
        </div>

        <div class="slds-form-element slds-m-top_x-small slds-p-right_x-small slds-p-left_x-small" if:false={hideNonBillableEntry}>
            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_left">
                <lightning-icon 
                    size="xx-small" 
                    class="slds-icon slds-input__icon slds-input__icon_left slds-icon-text-default" 
                    icon-name="utility:overflow">
                </lightning-icon>

                <input 
                    type="number" 
                    id="input-non-billable-hours-rp" 
                    class="slds-input slds-m-top_xxx-small" 
                    disabled
                    title="Actual Non-Billable Hours"
                />
            </div>
        </div>

        <template if:false={hideComments}>
            <lightning-textarea 
                class="slds-m-top_x-small slds-p-right_x-small slds-p-left_x-small" 
                label="Comments" 
                disabled
                variant="label-hidden" 
                title="Comments"
                placeholder="No forecast for this day">
            </lightning-textarea>
        </template>
    </template> 
</template>